
#main-heading {
    color: red;
    font-size: 30px;
}

.text {
    color: purple;
    font-size: 16px;
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
}